* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1e293b, #020617 70%);
  color: white;
  position: relative;
}

/* Background Glow */
.glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(255, 0, 128, 0.15);
  border-radius: 50%;
  filter: blur(120px);
  animation: moveGlow 8s infinite alternate;
}

@keyframes moveGlow {
  from {
    transform: translate(-100px, -50px);
  }
  to {
    transform: translate(120px, 80px);
  }
}

.card {
  width: 90%;
  max-width: 700px;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: relative;
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cake {
  font-size: 5rem;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  50% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

h1 {
  font-size: 4rem;
  margin: 20px 0;
  background: linear-gradient(to right, #ff4d6d, #ffd166, #7b2ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite alternate;
  -webkit-animation: both 1s ease-out 1s fadeIn;
}

@keyframes shine {
  from {
    filter: drop-shadow(0 0 10px #ff4d6d);
  }
  to {
    filter: drop-shadow(0 0 25px #7b2ff7);
  }
}

.name {
  font-size: 2rem;
  color: #ffd166;
  margin-bottom: 20px;
  -webkit-animation: both 1s ease-out 1s fadeIn;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #e2e8f0;
  margin-bottom: 35px;
  -webkit-animation: both 1s ease-out 1s fadeIn;
}

button {
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, #ff4d6d, #7b2ff7);
  transition: 0.4s;
  box-shadow: 0 5px 20px rgba(255, 0, 128, 0.5);
  -webkit-animation: both 1s ease-out 1s fadeIn;
}

button:hover {
  transform: scale(1.08);
}

/* Confetti */
.confetti {
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  top: -20px;
  animation: fall linear forwards;
  -webkit-animation: both 1s ease-out 1s fadeIn;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(720deg);
    opacity: 0;
    -webkit-animation: both 1s ease-out 1s fadeIn;
  }
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  text-align: center;
  background: linear-gradient(to right, #ff4d6d, #ffd166, #7b2ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.show {
  animation: pop 5s ease forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
.no-cadeaux {
  background: linear-gradient(to right, #ff4d6d, #ffd166, #7b2ff7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: both 1s ease-out 1s fadeIn;
  font-size: 1.5rem;
  padding: 20px;
}
